@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 0% 95%;
    --foreground: 39 0% 0%;
    --card: 39 0% 90%;
    --card-foreground: 39 0% 10%;
    --popover: 39 0% 95%;
    --popover-foreground: 39 95% 0%;
    --primary: 39 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 1 10% 85%;
    --muted-foreground: 39 0% 35%;
    --accent: 1 10% 80%;
    --accent-foreground: 39 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 39 0% 90%;
    --border: 39 20% 50%;
    --input: 39 20% 18%;
    --ring: 39 100% 50%;
    --radius: 0rem;
  }
  .dark {
    --background: 39 10% 5%;
    --foreground: 39 0% 90%;
    --card: 39 0% 0%;
    --card-foreground: 39 0% 90%;
    --popover: 39 10% 5%;
    --popover-foreground: 39 0% 90%;
    --primary: 39 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 1 10% 15%;
    --muted-foreground: 39 0% 60%;
    --accent: 1 10% 15%;
    --accent-foreground: 39 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 39 0% 90%;
    --border: 39 20% 18%;
    --input: 39 20% 18%;
    --ring: 39 100% 50%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Apercu Pro Regular', sans-serif;
  }
  @font-face {
    font-family: 'Apercu Pro Regular';
    src: url('./assets/Apercu\ Pro\ Regular.otf') format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Apercu Pro Medium';
    src: url('./assets/Apercu\ Pro\ Medium.otf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Apercu Pro Bold';
    src: url('./assets/Apercu\ Pro\ Bold.otf') format('opentype');
    font-weight: 700;
  }
  .font-regular {
    font-family: 'Apercu Pro Regular', sans-serif;
    font-weight: 400;
  }
  .font-medium {
    font-family: 'Apercu Pro Medium', sans-serif;
    font-weight: 500;
  }
  .font-bold {
    font-family: 'Apercu Pro Bold', sans-serif;
    font-weight: 700;
  }
}
